<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Cart : 0</button>
    </form>
  </div>
</nav>


<div class="items">


  @for (item of items; track $index) {
  <app-card [name]="item.name" [desc]="item.desc" [image]="item.img" [id]="item.id"
    [sellerName]="item.sellerName" [price]="item.price"></app-card>
  }



</div>